{% extends 'base.html.twig' %}

{% block title %}Listagem de Clientes{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get("success") %}
        {{ flashMessage }}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("warning") %}
        {{ flashMessage }}
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("danger") %}
        {{ flashMessage }}
    {% endfor %}

    <h1>Listagem de Clientes</h1>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path("cadastrar-cliente") }}" class="btn btn-primary float-right">Cadastrar Cliente</a>
        </div>
    </div>

    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td><a href="{{ path("visualizar-cliente", {"id": cliente.id}) }}">{{ cliente.nome }}</a></td>
                    <td>{{ cliente.email }}</td>
                </tr>
                {% else %}
                     <tr>
                        <td colspan="3">Nenhum Cliente cadastrado</td>
                     </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
