{% extends "base.html.twig" %}

{% block title %}Visualizando Cliente{% endblock %}

{% block body %}

    <h1>Visualizando Cliente - {{ cliente.nome }}</h1>

    <table class="table table-striped">
        <tr>
            <th colspan="4">Dados do Cliente</th>
        </tr>
        <tr>
            <th>Cod.</th>
            <td>{{ cliente.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ cliente.nome }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ cliente.email }}</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>{{ cliente.telefone }}</td>
        </tr>
        <tr>
            <th>Endereço</th>
            <td>{{ cliente.endereco.rua }}, {{ cliente.endereco.numero }} - {{ cliente.endereco.bairro }}</td>
        </tr>
        <tr>
            <th colspan="2">Animais</th>
        </tr>
        <tr>
            <th></th>
            <td>
                <ul>
                    {% for animal in cliente.animais %}
                        <li><a href="{{ path("visualizar-animal", {"id": animal.id}) }}">{{ animal.nome }}</a></li>
                    {% else %}
                        <li>Nenhum animal cadastrado para {{ cliente.nome }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

    </table>
{% endblock %}