{% extends 'base.html.twig' %}

{% block title %}Listagem de Animais{% endblock %}

{% block body %}
    {%  for flashMessage in app.session.flashbag.get("success") %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("warning") %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("danger") %}
        {{ flashMessage }}
    {% endfor %}

    <h1>Listagem de Animais</h1>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path("cadastrar-animal") }}" class="btn btn-primary float-right">Cadastrar Animal</a>
        </div>
    </div>

    <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Data Nasc.</th>
        </tr>
        </thead>
        <tbody>
            {% for animal in animais %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td><a href="{{ path('visualizar-animal', {'id': animal.id}) }}">{{ animal.nome }}</a></td>
                    <td>{{ animal.dataNascimento|date("d/m/Y") }}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Nenhum animal foi cadastrado</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
