{% extends "base.html.twig" %}

{% block title %}Visualizar Animal{% endblock %}

{% block body %}
    <h1>Visualizar Animal - {{ animal.nome }}</h1>

    <table class="table table-striped">
        <tr>
            <th colspan="2">Dados do animal</th>
        </tr>
        <tr>
            <th>Cod.</th>
            <td>{{ animal.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ animal.nome }}</td>
        </tr>
        <tr>
            <th>Data de Nascimento</th>
            <td>{{ animal.dataNascimento|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th colspan="2">Proprietŕarios</th>
        </tr>
        <tr>
            <th></th>
            <td>
                <ul>
                    {% for cliente in animal.clientes %}
                        <li><a href="{{ path("visualizar-cliente", {"id": cliente.id}) }}">{{ cliente.nome }}</a></li>
                    {% else %}
                        <li>
                            Esse animal não possui dono. Quer adotá-lo?
                        </li>
                    {% endfor %}
                </ul>    
            </td>
        </tr>
    </table>
{% endblock %}