{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="starter-template">
        <h1 class="display-2">Petshop</h1>
        <p class="lead">Avançando com Symfony 4 - Aprofundando com Doctrine</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                {% for qts in qtsAnimaisPorCliente %}
                    <tr>
                        <th>{{ qts.clienteNome }}</th>
                        <td>{{ qts.qtsAnimais }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                {% for qts in qtsAnimaisPorRaca %}
                    <tr>
                        <th>{{ qts.racaNome }}</th>
                        <td>{{ qts.qtd }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
