<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>{% block title %} {% endblock %} - Petshop</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/assets/css/starter-template.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path("default") }}">Petshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get('__route') matches '/(.*)default(.*)/' %}active{% endif %}">
                <a class="nav-link" href="{{ path("default") }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('__route') matches '/.*cliente.*/' %}active{% endif %}">
                <a class="nav-link" href="{{ path("listar-clientes") }}">Clientes</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('__route') matches '/.*anima.*/'%}active{% endif %}">
                <a class="nav-link" href="{{ path("listar-animais") }}">Animais</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    {% block body %}
    {% endblock %}

</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script></body>
</html>
